/* stylelint-disable */
.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  display: flex;
  flex-direction: row;
}

.cards>ul>li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  min-width: var(--card-min-width);
  border-radius: var(--card-border-radius);
  /* filter: drop-shadow(8px 8px #F48591); */
  min-height: 350px;
  color:var(--text-color);
}

[class*=" Vlt-icon-"],
[class^="Vlt-icon-"] {
  font-family: VltIcons !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: inherit;
  speak: none;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.Vlt-icon-card--cloud::before { /* eslint-disable-line selector-class-pattern */
  content: "\e908";
}

.Vlt-icon-card--phone:before {
  content: "\e921"
}

.Vlt-icon-card--headset:before {
  content: "\e909"
}

.Vlt-icon-card--screw:before {
  content: "\e90a"
}

.Vlt-icon-logo:before {
  content: "\e907"
}

.Vlt-icon-play--arrow:before {
  content: "\e900"
}

.Vlt-icon-play--circle:before {
  content: "\e901"
}

.Vlt-icon-social--twitter:before {
  content: "\e904"
}

.Vlt-icon-card { /* eslint:disable-selector-class-pattern */
  color: #fff;
  display: block;
  font-size: 4.2rem;
  height: 4.1rem;
  left: -.1rem;
  position: absolute;
  top: -1.3rem;
  width: 4.1rem;
}

.hero-card__card-title-row { /* eslint:disable-selector-class-pattern */
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;
}

div.hero-cards__card-icon {    /* stylelint-disable-selector-class-pattern */
  min-width: 4rem;
  height: 4rem;
  position: relative;
}

div.hero-cards__card-icon:has(.Vlt-icon-card--cloud), .cards > ul > li:has(.Vlt--icon-card--cloud) {
  background: linear-gradient(135deg, #d41f9c, #ffa78c);
}

div.hero-cards__card-icon:has(.Vlt-icon-card--headset) {
  background: linear-gradient(135deg, #871fff, #7ec9f4);  
}

.cards > ul > li:nth-child(1) {
  filter: drop-shadow(8px 8px #F48591);
}

.cards > ul > li:nth-child(2) {
  filter: drop-shadow(8px 8px #7ec9f4);
}

.cards > ul > li:nth-child(3) {
  filter: drop-shadow(8px 8px #ffa78c); 
}

div.hero-cards__card-icon:has(.Vlt-icon-card--phone) {
  background: linear-gradient(135deg, #871fff, #ffa78c);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body>*:first-child {
  margin-top: 0;
}

.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (width >=768px) {
  .cards>ul>li {
    width: 100%;
  }
}